.sidebar-style {
  --sidebar-width: 20rem;
    margin-left: var(--sidebar-width);
    margin-right: 2rem;
    padding: 2rem 1rem;
}


.content-style {
    margin-left: var(--sidebar-width);
    margin-right: 2rem;
    padding: 2rem 1rem;
}


