/* @import url(https://cdn.jsdelivr.net/gh/AnnMarieW/dash-bootstrap-templates/dbc.min.css); */

:root {
  --sidebar-width:20rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  padding : 2rem 1rem;
  padding-top: 4rem;
  background-color: #f8f9fa;
  overflow: scroll;
  /* margin-top: 4rem; */
}
/* 
.login-from {
  width: 20%
} */

 
.content {
    margin-left: var(--sidebar-width);
    /* margin-right: 2rem; */
    padding: 2rem 1rem;
    margin-top: 1rem;
}

.navbar {
  margin-left: var(--sidebar-width);
  /* margin-left: -10rem; */
  height: 4rem; 
  z-index: 1020;
  /* margin-right: 2rem; */
  /* padding: 2rem 1rem; */
}

.home-navbar {
  margin-left: 0;
  /* margin-left: -10rem; */
  height: 4rem; 
  z-index: 1020;
  margin-bottom: 0;
  /* margin-right: 2rem; */
  /* padding: 2rem 1rem; */
} 

.custom-color {
  color: #FAEBD7;
}

.nosidebar-navbar {
  margin-left: 0;
  /*height: 5rem; */
}

.delete-btn {
  /*
  # 'position':'absolute',
  #   'top':0,
  #  'right':0,
  #  'margin':4,
  #  'width': "2rem",
  #  'height': "2rem",
  #  'border': 0,
  #  'border-radius': 15,
  # 'align': 'center',
  */
  /* margin-right: 0.5rem; */
  /* margin-bottom: 0.5rem; */
  /* text-anchor: middle; */
}

.form-style {
  border: 1px solid;
  padding: 1rem;
  border-color: #c3c3c4;
  border-radius: 15;
  margin-top: 50;
}


.radio-group .form-check {
  padding-left: 0;
  padding-top: 1rem;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* margin-left: -1px; */
} 

.feature-image {
  width: 100%;
}

.feature {
  margin-top: 5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.no-transform {
  text-transform: none;
}

.large-font {
  font-size: 40px;
}